<h2><%= human_name.pluralize %></h2>

<%%= form_for @search, :url => admin_<%= plural_table_name %>_path, :html => {:method => :get} do |f| %>
  <% if options[:search_by].blank? -%>
  <!--
  <% end %>
  <!-- feel free to add further search options, eg foo_or_bar_contains -->
  <%%= f.label :<%= options[:search_by] %>_contains, "Search by <%= options[:search_by] %>" %>
  <%%= f.text_field :<%= options[:search_by] %>_contains %>
  <%%= f.submit %>
  <% if options[:search_by].blank? -%>
  --><p>Set up your search form or delete.</p>
  <% end %>
<%% end %>

<p><%%= link_to("Create a new <%= human_name %>", new_admin_<%= singular_table_name %>_path) %></p>

<table class="sortable">
  <thead>
    <tr>
<% @attributes.each do |attribute| -%>
      <th><%%= sortable "<%= attribute.name %>" %></th>
<% end -%>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
        <td><%%= link_to(<%= singular_table_name %>.id, admin_<%= singular_table_name %>_path(<%= singular_table_name %>)) %></td>
<% @attributes.each do |attribute| -%>
<% next if attribute.name == "id" -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td><%%= link_to('Edit', edit_admin_<%= singular_table_name %>_path(<%= singular_table_name %>)) %></td>
        <td><%%= link_to('Delete', admin_<%= singular_table_name %>_path(<%= singular_table_name %>), :confirm => "Are you sure?", :method => :delete) %></td>
      </tr>
    <%% end %>
  </tbody>
</table>

<%%= paginate @<%= plural_table_name %> %>
